/** @define Select; weak */

.Select {
  position: relative;
}

.Select-control {
  background: transparent;
  border: 1px solid black;
  border-radius: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font: inherit;
  padding: 1em 2em 1em 1em;
  width: 100%;

  /* Hide native arrow in Firefox 35+ */
  -moz-appearance: none;

  /* Correct inability to override iOS user-agent */
  -webkit-appearance: none;

  /* Can't be changed from `normal` in Firefox */
  line-height: normal !important;

  /* Truncate text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-figure {
  cursor: pointer;
  height: 1em;
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1em;
}

/**
 * Disabled state
 */

.Select.is-disabled .Select-control {
  color: black;
  cursor: default;
  opacity: 1;
}

.Select.is-disabled,
.Select:not(.is-disabled) .Select-control:disabled {
  opacity: 0.5;
}

/**
 * Remove excess padding and border in Firefox
 */

.Select-control::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around for a Firefox/IE bug where changing background color
 * results in a loss of the default focus styles.
 */

.Select-control:focus {
  color: black;
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * Hide redundant text outline in Firefox
 */

.Select-control:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 black !important;
}

/**
 * Fallback to native arrow in IE<10, Opera < 9.6, and Firefox<35.
 * The double selector makes sure it wins over extended theming.
 */

.Select.Select .Select-figure {
  display: none\9;
}

x:-o-prefocus, .Select.Select .Select-figure {
  display: none;
}

_:-moz-tree-row(hover),
.Select.Select .Select-figure {
  display: none;
}

@supports ((-webkit-filter: blur(0)) or (filter: blur(0))) {
  _:-moz-tree-row(hover),
  .Select.Select .Select-figure {
    display: block;
  }
}

/**
 * Remove the native arrow and the blue background in IE 10/11+
 */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .Select-control::-ms-expand {
    display: none;
  }

  .Select-control:focus::-ms-value {
    background: transparent;
    color: black;
  }
}
