/** @define Select; use strict */

:root {
  --Select-border-color: currentcolor;
  --Select-border-width: 1px;
  --Select-color: #000;
  --Select-disabled-opacity: 0.6;
  --Select-font: inherit;
  --Select-padding: 0.4em 0.75em;
}

/**
 * Container used for overall styling except dimentions and focus state
 */

.Select {
  position: relative;
  width: 100%;
  user-select: none;
  border-color: var(--Select-border-color);
  border-style: solid;
  border-width: var(--Select-border-width);
}

.Select::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--Select-padding);
  pointer-events: none;
  text-align: right;
}

.Select select {
  box-sizing: border-box;
  width: 100%;
  padding: var(--Select-padding);
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font: var(--Select-font);
  color: var(--Select-color);
  /* Normalize `line-height`. Can't be changed from `normal` in Firefox 4+ */
  line-height: normal;
  /* Correct inability to style `select` in iOS */
  -webkit-appearance: none;
  /* Remove native arrow in Firefox */
  -moz-appearance: window;
}

.Select select:disabled {
  color: var(--Select-color);
  opacity: var(--Select-disabled-opacity);
  cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Select select::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around for a Firefox/IE bug where changing `select` background color
 * results in a loss of the default focus styles
 */

.Select select:focus {
  outline: 1px dotted black;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * Hide redundant text outline in Firefox
 */

.Select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

/**
 * Remove the native arrow and the blue background color in IE 10/11+
 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .Select select::-ms-expand {
    display: none;
  }

  .Select select:focus::-ms-value {
    background: transparent;
    color: black;
  }
}

/**
 * Fall back to unstyled `select` in Opera ≥ 9.5 and IE ≥ 8
 */

.Select::after {
  display: none\9;
}

x:-o-prefocus, .Select::after {
  /* Todo: should target up to Opera 14 (pre Blink) */
  display: none;
}

